/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: hsl(0, 0%, 10%);
}

/* App container = full screen */
#calculator {
  width: 100dvw;
  height: 100vh;
  display: grid;

  /* Screen math:
     1 row for display
     remaining rows for keys */
  grid-template-rows: minmax(120px, 25vh) 1fr;

  background: hsl(0, 0%, 15%);
  font-family: Arial, sans-serif;
}

/* Display */
#display {
  width: 100%;
  height: 100%;
  padding: 16px;
  font-size: clamp(2.5rem, 9vw, 4rem);
  background: hsl(0, 0%, 20%);
  color: white;
  border: none;
  text-align: left;
}

/* Keys container */
#keys {
  display: grid;

  /* 4 columns always */
  grid-template-columns: repeat(4, 1fr);

  /* Auto rows calculated from screen height */
  grid-auto-rows: 1fr;

  gap: 3vw;
  padding: 3vw;
}

/* Buttons */
button {
  width: 90%;
  height: 100%;
  aspect-ratio: 1 / 1;

  border: none;
  /*border-radius: 50%;*/

  background: hsl(0, 0%, 30%);
  color: white;

  font-size: clamp(1.4rem, 6vw, 2.6rem);
  font-weight: bold;
}

/* Active feedback */
button:active {
  background: hsl(0, 0%, 45%);
}

/* Operators */
.operator-btn {
  background: hsl(35, 100%, 55%);
}

.operator-btn:active {
  background: hsl(35, 100%, 70%);
}

/* Clear button spans full width */
.clear {
  grid-column: span 4;
  aspect-ratio: auto;
  border-radius: 999px;
}
