body {
  background: #3B1F95;
}

#calculator {
  border-radius: 10px;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.15), 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
  margin-inline-start: auto;
  margin-inline-end: auto;
  margin-block-start: 2em;
  max-inline-size: 22rem;
  overflow: hidden;
  color: hsla(254, 65%, 35%, 1);
}
#display {
  background: hsl(1000, 100%, 9%);
  font-size: 4.2rem;
  padding-block-start: 3rem;
  padding-block-end: 0.5rem;
  padding-inline-end: 1.25rem;
  text-align: left;
}
#keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1px;
  background: hsl(255, 100%, 100%);
  padding: 0.5rem;
}
button {
  background: hsl(210, 25%, 95%);
  border: none;
  padding-block-start: 1rem;
  padding-block-end: 1rem;
  padding-inline-end: 1.25rem;
  padding-inline-start: 1.25rem;
  font-size: 1.5rem;
  /* Playful Styles */
  inline-size: 70px;
  block-size: 70px;
  margin: 0.25rem;
  border-radius: 40px;
}
.button:active,
.button:focus {
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.3) inset;
  outline: none;
}
.operator-btn {
  background: hsl(208, 25%, 86%);
}
.operator-btn:active {
  background: hsl(208, 24%, 80%);
}
.enter {
  grid-column: 4 / 5;
  grid-row: 2 / span 4;
  background: hsl(357, 100%, 72%);
  height: auto;
}
